html{
    background-image: -webkit-linear-gradient(rgb(25, 123, 168),rgb(186, 116, 116));
}
button{
    background-color: #af4c4c;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: dotted;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: #af4c4c;
}
title{
    font-size: larger;
    font-style: inherit;
    color: #af4c4c;
    font-weight: 200;
}
button4{
    background-color: crimson;
}
#myHeader {
    background-color: rgb(242, 104, 100);
    color: rgb(64, 204, 22);
    padding: 40px;
    text-align: center;
    font-style: unset;
  } 